<form class="route-selection" layout-padding="">

    <md-input-container flex="100" flex-gt-sm="33">
        <label for="departureStation">Departure station</label>
        <input id="departureStation"
               ng-model="ctrl.searchForm.departureStation.name"
               list="departureStationOptions"
               ng-change="ctrl.searchDepartureStation()"
               autofocus>
        <datalist id="departureStationOptions">
            <option ng-repeat="station in ctrl.departureSationOptions"
                    value="{{station.name}}"></option>
        </datalist>
    </md-input-container>

    <md-input-container flex="100" flex-gt-sm="33">
        <label for="arrivalStation">Arrival station</label>
        <input id="arrivalStation"
               ng-model="ctrl.searchForm.arrivalStation.name"
               list="arrivalStationOptions"
               ng-focus="ctrl.getPossibleDestination()"
               ng-change="ctrl.checkPossibleDestination()"
               disabled="true">
        <datalist id="arrivalStationOptions">
            <option ng-repeat="station in ctrl.arrivalStationOptions"
                    value="{{station.name}}"></option>
        </datalist>
    </md-input-container>

    <md-button
            id="searchRoute"
            class="md-primary"
            ng-disabled="!ctrl.searchForm.enableSearch"
            ng-click="ctrl.getPossibleArrivals()">
        Search
    </md-button>
</form>
